MYSQL_VERSION=
MYSQL_DB_USERNAME=
MYSQL_DB_PASSWORD=
MYSQL_DB_PORT=

POSTGRES_VERSION=18
POSTGRES_DB_USERNAME=
POSTGRES_DB_PASSWORD=
POSTGRES_DB_PORT=

REDIS_VERSION=
REDIS_DB_USERNAME=
REDIS_DB_PASSWORD=
REDIS_DB_PORT=

# TLS (Let's Encrypt)

DOMAIN_NAME="domain-name-without-prefix (e.g google.com not mail.google.com or https://google.com)"
TLS_EMAIL_ADDRESS=

# Traefik Dashboard Authentication (Required for Production)
# Remember to escape $ characters by doubling them (e.g., $ becomes $$)
TRAEFIK_DASHBOARD_USER=admin
TRAEFIK_DASHBOARD_PASSWORD_HASH=